.caf-clearfix:before,
.caf-clearfix:after {
    content: " ";
    display: table;
}
.caf-clearfix:after {
    clear: both;
}
.caf-align-left{ 	text-align: left; }
.caf-align-right{ 	text-align: right; }
.caf-float-left{ 	float:left; }
.caf-float-right{ 	float:right; }

.caf-col, .caf-col-1, .caf-col-2, .caf-col-4{
	float:left;
	margin:0 0.668%;
}
.caf-col-4{
	width:30%;
	margin-left:3%;
}
.caf-col-4:first-child{
	margin-left:0;
}
.caf-col-3{
	width:24%;
}
.caf-col:first-child{
	margin-left:0px;
}
.caf-col:last-child{
	margin-right:0px;
}
.caf-col-6{
	width:49.3333%;
}

/* Responsive Displays */
@media (max-width: 980px){
	.caf-col-3{
		width:47%;
	}
	.caf-col-3.caf-description{
		clear:both;
		width:100%;
		margin:0;
	}
}
@media (max-width: 740px){
	.caf-col-3{
		float:none;
		margin:0;
		width:100%;
	}
}


/* CAF Featured Vehicles List */
.caf-vehicle-content{
	width:70%;
	float: right;
}
.caf-sdiebar{
	width:30%;
	float:left;
}
.caf-vehicle-list article{
	margin-bottom:30px;
}
.caf-vehicle-list .entry-content{
	padding:15px;
	background:#F0F0F0;
}
.caf-vehicle-list .caf-photo > a{
	display: block;
}
.caf-vehicle-list .vehicle-img{
	display: block;
	height: 160px;
	background-size: contain;
	background-repeat: no-repeat;
}
.caf-vehicle-list .caf-carproof-link-container {
	display: table;
	margin: -10px auto 0 auto;
}
.caf-vehicle-list .caf-carproof-link-container > a {
	display: table-row;
	text-decoration: none;
}
.caf-vehicle-list .caf-carproof-link-container > a:hover{
	text-decoration: none;
}
.caf-vehicle-list .caf-carproof-link-container > a:hover .caf-carproof-text{
	text-decoration: none !important;
	background:#D31116;
}
.caf-vehicle-list .caf-carproof-logo-wrap {
	border: 0px solid #dfdfdf;
	display: table-cell;
	padding: 0 2px;
	background: #fff;
	vertical-align: middle;
	height: 20px;
}
.caf-vehicle-list .caf-carproof-text {
	background: #ac0004;
	color: #fff;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: bold;
	padding: 0 5px;
	display: table-cell;
	vertical-align: middle;
	height: 20px;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	-ms-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	transition: all 250ms linear;
}
.caf-inventory-navigation > div {
	float: right;
	line-height: 36px;
	margin-left: 15px;
}
.caf-vehicle-intro .caf-float-left {
	max-width: 85%;
}
.caf-vehicle-intro .caf-vehicle-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.caf-vehicle-list .caf-view-vehicle-link {
	display: block;
	text-align: center;
	color: #fff;
	background: #4a4a4a;
	padding: 15px 0;
	font-size: 16px;
	font-weight: bold;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
.caf-vehicle-list .caf-view-vehicle-link:hover {
	background: #019AD1;
	color: #fff;
	text-decoration: none;
}
dl.caf-details-list dt {
	clear: left;
	float: left;
	padding-right: 5px;
	font-weight: bold;
}
.caf-description p{
	line-height: 1.2em;
}



















/* CAF Vehicle Shared Detail / List Styles */
.caf-vehicle-intro{
	height:45px;
	line-height: 45px;
	padding:0 1em;
}
.caf-vehicle-intro *{
	margin:0;
	line-height: 45px;
}
.caf-price.sale-item .caf-regular-price{
	text-decoration: line-through;
}
dl.caf-details-list dt{
	clear:left;
	float:left;
	padding-right:5px;
}
dl.caf-details-list dt:after{
	display: inline;
}

/* CAF Dealer Widget */
.caf-dealer-widget li,
.caf-dealer-widget a{
	background-repeat:no-repeat;
	background-position: -10px center;
	padding:10px;
}
.caf-dealer-widget .icon-pos-right li,
.caf-dealer-widget .icon-pos-right a{
	background-position: right center;
}
.caf-sharing-widget a .caf-sharing-icon{
	display: inline-block;
	padding-right:10px;
}
.caf-sharing-widget .icon-pos-left .caf-sharing-icon{
	padding-right:10px;
}
.caf-sharing-widget .icon-pos-right .caf-sharing-icon{
	padding-left:10px;
}

/* CAF FWP Filter Widget */
.widget_caffilterwidget .caf-fwp-filter-group.no-title .caf-fwp-filter{
	display: block;
}


/* Error logs */
.caf-log-container{
	height:300px;
	overflow-y:auto;
	resize:vertical;
	border:1px solid #ddd;
	box-shadow: 0 0 10px #E6E6E6 inset;
}
.caf-log-container th.date{
	width:70px;
}
.caf-log-container td{
	vertical-align: top;
}
.form-table .caf-log-container td{
	max-width:500px;
}
.form-table .caf-log-container .caf-log-title{
	margin:0;
}
.form-table .caf-log-container .caf-log-content{
	overflow: hidden;
	height:1.3em;

}
.form-table .caf-log-container .caf-log-content p{
	color:#707070;
	font-size:12px;
	word-wrap:break-word;
}
.caf-log-date{
	font-weight: bold;
	font-size:13px;
	display: block;
}
.caf-log-time{
	font-size:11px;
	display: block;
	color:#979797;
	font-style: italic;
}
.caf-log-container table td{
	border-bottom:1px solid #f5f5f5;
}
.ajax-loader{
	padding: 5px 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/wp-admin/images/spinner.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
.import-messages{
	max-height:300px;
	overflow-y:scroll;
}
.facetwp-template{
	position: relative;
	min-height: 100px;
}
.caf-loading{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
	padding-top: 10px;
}
.caf-loading-text{
	display: block;
	font-size: 30px;
	line-height: 30px;
	color: #fff;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.caf-loading-gif{

	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: url(../img/spiffygif_30x30.gif) 0 0 no-repeat;
	border: 5px solid;
	border-radius: 10em;
	margin:0 auto;
}
.widget_caffilterwidget .caf-fwp-filter-title {
	background: #fff;
	padding: 15px 15px 15px 30px;
	color: #4a4a4a;
	font-size: 14px;
	border-bottom: 1px solid #e4e4e4;
	border-top: 1px solid #f2f2f2;
	-webkit-transition: all 250ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-moz-transition: all 250ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-o-transition: all 250ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
	transition: all 250ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.widget_caffilterwidget.expand-enabled .caf-fwp-filter-title {
	cursor: pointer;
}
.caf-widget-filters.hide-titles .caf-fwp-filter-title {
	display: none;
}
.widget_caffilterwidget .caf-fwp-filter {
	padding: 15px;
}
.widget_caffilterwidget .caf-widget-filters.expand-enabled .caf-fwp-filter {
	display: none;
}
.widget_caffilterwidget .facetwp-facet{
	margin-bottom:5px;
}
.widget_caffilterwidget .facetwp-dropdown{
	width:100%;
	max-width:100%;
}
.widget_caffilterwidget .caf-fwp-reset-filters a {
	color: #fff;
	text-align: center;
	display: block;
	padding: 10px 20px;
	background: #ccc;
	font-size: 14px;
	margin-top: 20px;
	-webkit-transition: all 250ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-moz-transition: all 250ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
	-o-transition: all 250ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
	transition: all 250ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.widget_caffilterwidget .caf-fwp-reset-filters a:hover {
	background: #4a4a4a;
	text-decoration: none;
}
.caf-widget ul,
.caf-widget ul li,
.caf-widget ul li a{
	padding: 0;
	margin: 0;
	list-style:none;
}
.facetwp-selections ul{
	margin-left:0;
}
.facetwp-selections li {
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	margin-right: 20px;
	cursor: pointer;
}
.caf-fwp-current-filters .facetwp-selections li {
	padding: 5px 8px;
	background: #a7a7a7;
	color: #fff;
	border-radius: 3px;
	margin:0 5px 5px 0;
}
.single-vehicle.container{
	margin-top:30px;
}
.single-vehicle .content{
	width:66%;
	float:right;
}
.single-vehicle .sidebar{
	float:left;
	width:31%;

}
.caf-gallery-large{

}