.single-caf_featured_vehicle .caf-color-picker-color {display: inline-block;}
.single-caf_featured_vehicle .caf-sharing-widget {text-align: left;}

.single-caf_featured_vehicle .caf-metaboxes {display: block;}
.single-caf_featured_vehicle .caf-metabox {display: block; float: left; vertical-align: top;}
.single-caf_featured_vehicle .caf-color-picker-list {margin: 0;}
.single-caf_featured_vehicle .caf-color-picker-item {display: inline-block; text-align: center;}
.single-caf_featured_vehicle .caf-color-picker-large {text-align: center;}
.single-caf_featured_vehicle .caf-compare-cta,
.single-caf_featured_vehicle .caf-gallery-cta,
.single-caf_featured_vehicle .caf-build-cta {text-align: center; vertical-align: middle;}
.single-caf_featured_vehicle .caf-color-picker-cta h3 {margin-bottom: 6px;}
.single-caf_featured_vehicle .caf-compare-cta h3,
.single-caf_featured_vehicle .caf-gallery-cta h3,
.single-caf_featured_vehicle .caf-build-cta h3 {margin-bottom: 0 !important;}
.single-caf_featured_vehicle .caf-metabox a {cursor: pointer;}
.single-caf_featured_vehicle .caf-summary-box {display: table; vertical-align: top; width: 100%;}
.single-caf_featured_vehicle .caf-summary-labels {width: 25%; display: table-cell; vertical-align: top;}
.single-caf_featured_vehicle .caf-summary-labels .caf-summary-label .caf-summary-link {display: block; padding: 5px 10px; cursor: pointer;}
.single-caf_featured_vehicle .caf-summary-labels .caf-summary-label:first-child .caf-summary-link {border-top: 0;}
.single-caf_featured_vehicle .caf-summary-content-area {width: 75%; display: table-cell;}
.single-caf_featured_vehicle .caf-summary-content-area .caf-summary-content {display: none; visibility: hidden; vertical-align: top;}
.single-caf_featured_vehicle .caf-summary-content-area .caf-summary-content.current {display: block; visibility: visible;}
.single-caf_featured_vehicle .caf-features-pdf {text-align: right;}
.single-caf_featured_vehicle .caf-features-pdf-image {float: right;}
.single-caf_featured_vehicle .caf-features-pdf-text {line-height: 50px; font-size: 16px;}