pre{
	overflow: visible;
	white-space: normal;
}
.redux-container{
	border-radius:5px 5px 0 0;
}
.admin-color-fresh #redux-header{
	border-color:#f98927;

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.admin-color-fresh #redux-header .display_header{
	padding:20px 10px 20px 100px;
	background-image:url(../img/autofeeds-logo_350px.png);
	background-position:left center;
	background-repeat:no-repeat;
	background-size:contain;
}
#redux-header h2,
.admin-color-fresh #redux-footer #redux-share a{
	color:#f98927;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.active{
	border-left:3px solid #f98927;
}

.redux-field table{
	width:100%;
	padding-bottom:20px;
	border-bottom:1px solid #e7e7e7;
}
.redux-main .redux-field table tr.active td{
	background-color:#E2F1E2;
}
.redux-main .redux-field table tr.inactive td{
	background-color:#F7E5E5;
}
.redux-main .redux-field table thead th,
.redux-main .redux-field table tr:first-child th{
	color:#fff;
	background:#494949;
	padding:5px;
}
.redux-main .form-table .redux-field table tr td,
.redux-main .form-table .redux-field table tr:first-child td{
	padding:5px;
}
#CAF_Settings-opt-caf-templates{
	position: relative;
}
#caf-install-files{
	position: absolute;
	top:-50px;
	right:0;
}
#api-vehicles-test-display textarea{
	min-height:150px;
}
.redux-sidebar .redux-group-menu .group_title i{
	display: none;
}
.caf-progress-bar.wrapper{
	height:30px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	float:right;
	width:60%;
}
.caf-progress-bar.progress{
	height:30px;
	width:0px;
	position: absolute;
	top:0;
	left:0;

	-webkit-transition: width .5s ease-out;
	-moz-transition: width .5s ease-out;
	-ms-transition: width .5s ease-out;
	-o-transition: width .5s ease-out;
	transition: width .5s ease-out;
}
#caf-begin-import{
	float:left;
}
#redux-form-wrapper .import-status{
	clear: both;
	text-align: right;
	padding-right: 20px;
	font-size: 12px;
	font-style: italic;
	color: #A5A5A5;
}
.wp-core-ui .button-danger{
	background: #CC2E2E;
	border-color: #A20000;
	-webkit-box-shadow: inset 0 1px 0 rgba(230, 120, 120, 0.5),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(230, 120, 120, 0.5),0 1px 0 rgba(0,0,0,.15);
	color: #fff;
	text-decoration: none;
}
.wp-core-ui .button-danger:hover{
	background: #a20000;
	color: #fff;
	border-color: #a20000;
}
.import-messages div.updated{
	color:#aaa;
}






/* Progress bar */
.caf-progress-bar{
	-webkit-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	background-size: 40px 40px;
	background-image: -webkit-gradient(linear, left top, right bottom,
						color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
						color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
						to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
						transparent 75%, transparent);

	 -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
	 -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
	 box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
	 width: auto;
	 border: 1px solid;
	 color: #fff;
	 text-shadow: 0 1px 0 rgba(0,0,0,.5);

	 opacity:0.2;

	 -webkit-transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	-ms-transition: opacity 1s ease-out;
	-o-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;

}
.caf-progress-bar.active{
	opacity:1;
}
.caf-progress-bar.animate-bg{
	-webkit-animation: animate-bg 5s linear infinite;
	-moz-animation: animate-bg 5s linear infinite;
}
/* Actual color */
.caf-progress-bar.default	{ background-color: #9C9C9C; border-color: #E7E7E7; }
.caf-progress-bar.info		{ background-color: #4ea5cd; border-color: #3b8eb5; }
.caf-progress-bar.error		{ background-color: #de4343; border-color: #c43d3d; }
.caf-progress-bar.warning	{ background-color: #eaaf51; border-color: #d99a36; }
.caf-progress-bar.success	{ background-color: #61b832; border-color: #55a12c; }

/* Background animation */
@keyframes animate-bg {
    from { background-position: 0 0; }
    to { background-position: -80px 0; }
}
@-webkit-keyframes animate-bg
{
    from { background-position: 0 0; }
    to { background-position: -80px 0; }
}

@-moz-keyframes animate-bg{
    from { background-position: 0 0; }
    to { background-position: -80px 0; }
}